<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Picks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="content">
    <div class="container">
        <h1>Money Picks</h1>
        <h2>Winning Numbers:</h2>
        <p id="winningNumbers"></p>
    </div>

    <div class="container">
        <h2>Your Picks</h2>
        <form id="picksForm">
            <label for="pick1">Pick 1:</label>
            <input type="text" id="pick1" name="pick1"><br><br>
            <label for="pick2">Pick 2:</label>
            <input type="text" id="pick2" name="pick2"><br><br>
            <label for="pick3">Pick 3:</label>
            <input type="text" id="pick3" name="pick3"><br><br>
            <button type="submit">Submit Picks</button>
        </form>
        <p th:each="r: ${results}"></p>
        <p th:text="${r}"></p>
        <p id="outcome">Result: </p>
    </div>
</div>

<button id="generateButton">Generate Number</button>
<script src="script.js"></script>
</body>
</html>
